.active{
  font-weight: 900;
color: #1bc91b;


  
}
/* style={({ isActive }) => ({
  background: isActive ? "white" : "", color: isActive ? "#1bc91b" : "black"
})} */




.hd:hover img {
  transition: transform 0.3s ease;

  transform: scale(1.1); 
}
.hd:hover .hv {
color: rgb(153, 109, 15);

}

